.form-container {
  width: 100%;
}

.left-container {
  width: 60vw;
  float: left;
}

.right-container {
  margin-left: 61vw;
}

.fullwidth {
  width: 100%;
}

.halfwidth-left {
  margin-right: 0.5rem;
  width: calc((100% - 1rem)/2);
}

.halfwidth-right {
  margin-left: 0.5rem;
  width: calc((100% - 1rem)/2);
}

.dialog-title {
  padding-bottom: 0.5rem;
}
